{% extends "base.html" %}

{% block content %}

               

<div class="back-image2">
	<div class="blank_lines"></div>
	<div class="blank_lines"></div>

	<p class="leader_header">
		 About Me.
		 </p> 
	<div class="blank_lines"></div>
	<div class="blank_lines"></div>		
	 <div class="blank_lines"></div>
	 <div class="blank_lines"></div>
				   	
	<div class="row-fluid">
		<h2 class="pink">Developer</h2> 
		<div class="span4 offset1"> <p class="author_info">Michael Teng </p> </div>

	 <div class="blank_lines"></div>
	 <div class="blank_lines"></div>		
		<div class="blank_lines"></div>
		<h2 class="pink"> License </h2>
			<div class="span4 offset1"> <p class="author_info">GNU/GPL </p> </div>
			<div class="blank_lines"></div>
		 <div class="blank_lines"></div>
	 
	 <h2 class="pink"> Tutorials </h2>
	 <div class="span5 offset1">
		<li class="my_li2"> This is an online searching system which aims to help you compare the price of a product between several e-commerce websites. </li>
		<li class="my_li2"> Please click contact us to Leave message </li>
		<li class="my_li2"> Please regiter in the home page </li>
		<li class="my_li2"> Please perform searching in the home page </li>
		<li class="my_li2"> The forum is under construction </li>

	</div>	
	</div>
	</div>
		    

                 



    {% endblock %}

